<div class="header">
  <div class="border-right">
    <div class="loader">
      <ng-lottie
        class="lottie"
        containerClass="moving-box another-class"
        [options]="options"
        height="500px"
        width="500px"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
    </div>
  </div>
  <div class="content col-md-6">
    <h1 class="text-center">Login</h1>
    <br />
    <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="onLogin()">
      <div class="form-group">
        <div class="form-floating">
          <input
            type="text"
            id="username"
            placeholder="Enter username"
            class="form-control"
            formControlName="username"
          />
          <label for="username">Username</label>
        </div>

        <p
          *ngIf="f['username'].hasError('required') && f['username'].touched"
          class="text-danger ml-2 mt-2"
        >
          Username Required
        </p>
      </div>

      <div class="mt-4 form-group">
        <div class="form-floating">
          <input
            type="password"
            id="password"
            placeholder="Password here"
            class="form-control"
            formControlName="password"
          />
          <label for="password">Password</label>
        </div>

        <p
          class="text-danger ml-2 mt-2"
          *ngIf="!f['password'].valid && f['password'].touched"
        >
          Password required
        </p>
      </div>

      <h3 class="mt-2" *ngIf="error">
        <p class="text-danger text-center">{{ error }}</p>
      </h3>

      <button
        *ngIf="submitted"
        type="button"
        mat-stroked-button
        color="primary"
        class="mt-4 w-100"
      >
        Please wait....&nbsp;&nbsp;
      </button>

      <button
        *ngIf="!submitted"
        type="submit"
        mat-flat-button
        color="primary"
        class="mt-4 w-100"
      >
        Sign In
      </button>
    </form>
    <br /><br />
  </div>
</div>
